<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index_test</title>
</head>
<body>
    <h1>Index - teszt oldal</h1>
    <form action="/geojson/territories_upload_POST/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="file">Válaszd ki a GeoJSON fájlt!</label>
        <input type="file" name="file" id="">
        <input type="submit">
    </form>
    <p>Bejelentkezes</p>
    <form action="/geojson/login_test/" method="post">
        {% csrf_token %}
        <label for="text">Jelszó:</label>
        <input type="text" name="username">
        
        <label for="text">Jelszó</label>
        <input type="text" name="password" id="">
        
        <input type="submit" value="">
    </form>
</body>
</html>